name: ecommerce-cicd

on:
  push:
    branches: [main]    
    paths-ignore:
      - 'README.md'
  workflow_dispatch:   

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Set up Java + Maven
      - name: Set up Java & Maven
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: temurin
          cache: maven   # caches Maven dependencies for faster builds

      # 3. Build and test the Maven project
      - name: Build & Test
        run: mvn clean package -DskipTests
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: shopkart-app
          path: target/*.jar
    
  Test:
    runs-on: ubuntu-latest
    needs: build
  
    steps:
    - uses: actions/checkout@v4
    - name: Trivy Installation
      run: |
        sudo apt-get install -y wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update -y
        sudo apt-get install -y trivy

    - name: Trivy FS Scan
      run: trivy fs --exit-code 0 --severity HIGH,CRITICAL --format table -o fs-report.json .

    - name: Upload Trivy FS scan report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-fs-report
        path: fs-report.json
    - name: Gitleaks Installation
      run: sudo apt install gitleaks -y
    - name: Gitleaks Code Scan
      run: gitleaks detect --source . --report-path=gitleaks-report.json -f json
      
  pushtoDocker:
   runs-on: ubuntu-latest
   needs: Test

   steps:
   - uses: actions/checkout@v4
   - name: Set up JDK 17
     uses: actions/setup-java@v4
     with:
      java-version: '17'
      distribution: 'temurin'
    
   
   - name: Download artifact
     uses: actions/download-artifact@v5.0.0
     with: 
       name: shopkart-app
       path: ./app

  update-k8s:
    name: Update Kubernetes Deployment
    runs-on: ubuntu-latest
    needs: [ pushtoDocker ]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Setup Git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      
      - name: Update Kubernetes deployment file
        env:
           IMAGE_TAG: ${{ github.sha }}
           DOCKER_REPO: hacked01/shopkart-app
        run: |
     
         NEW_IMAGE="${DOCKER_REPO}:${IMAGE_TAG}"
         sed -i "s|image: .*|image: ${NEW_IMAGE}|g" k8s/ds.yml
         echo "Updated deployment to use image: ${NEW_IMAGE}"
         grep -A 1 "image:" k8s/ds.yml

      
      - name: Commit and push changes
        run: |
          git add k8s/ds.yml
          git commit -m "Update Kubernetes deployment with new image tag: ${{ needs.docker.outputs.image_tag }} [skip ci]" || echo "No changes to commit"
          git pull --rebase origin main || echo "Nothing to pull"
          git push
